.nurture-young-minds {
    color: black;
    font-size: 55px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}

.shape {
    color: #F18C07;
    font-size: 55px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}

.better-tomorrow {
    color: black;
    font-size: 55px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}

.browse-fundraiser, .how-it-works, .search, .faq, .news-that-matters, .partners, .about-edufund, .contact-us, .help-center, .partners, .solutions, .resources, .about, .support {
    color: black;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

.start-fundraising {
    color: white;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}

.sign-in {
    color: #2857C4;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}

.details {
    color: white;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}

.price, .amount {
    color: black;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}

.goal {
    color: #AEAEAE;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}

.percentage {
    color: #AEAEAE;
    font-size: 15px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}

.trending-fundraise {
    color: black;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}

.copyright, .all-rights-reserved, .terms-of-use, .privacy-policy {
    color: white;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

.read-more {
    color: #2857C4;
    font-size: 17px;
    font-family: Montserrat;
    font-weight: 500;
    word-wrap: break-word;
}

.lorem-text, .mission, .partnerships, .transparency, .anonymous-funding, .why-us {
    color: black;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}

.large-lorem-text {
    color: black;
    font-size: 23px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}

.edufund-logo {
    color: white;
    font-size: 40px;
    font-family: Montserrat;
    font-weight: 700;
    word-wrap: break-word;
}

.partners-text {
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    word-wrap: break-word;
}
